@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-login {
    @apply min-h-screen flex items-center justify-center relative;
    background-image: url(../public/images/bg.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
